<h2>Friend Requests</h2>

<% @user.friendships_as_receiver.friends.pluck(:name) do |user| %>
<li>
<h4><%= user %> wants to be your friend</h4>
  <%= form_for @user do |f| %>
    <% f.submit, 'Accept', user_friendships, method: :post %>
    <% f.submit, 'Decline', user_friendships, method: :delete %>
  <% end %>
</li>
<% end %>
